/**** INTERACTY THEME ****/
/* buttons, headings and links */
h1, h2, .dropdown-content li>a, .dropdown-content li>span { color: #000000; }
a { color: #999999 }
h2 { font-size: 2.56rem;}
.btn, .btn-large, .navbtn-hover { background-color: #2990fb; }
.btn:focus, .btn-large:focus, .btn-floating:focus { background-color: #2990fb; opacity: 0.7; }
.filter-active { background-color: #2990fb; color: white; }

/* nav bar and footer */
body, footer.page-footer { background-color: #000000; }
.navbar-color { background-color: #000000; }

/* switches and inputs */
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after { background-color: #2990fb; }
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after { border: 2px solid #2990fb; }
.switch label input[type=checkbox]:checked+.lever { background-color: #93dafa; }
.switch label input[type=checkbox]:checked+.lever:after { background-color: #03a9f4; }

/* progress bars */
.progress .indeterminate { background-color: #2990fb; }
.progress { background-color: #93dafa; }

/* tabs */
.tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a { color: #2990fb; }
.tabs .indicator { background-color: #2990fb; }
